<h1><%= @blogger.name %></h1>
<p>
<% @blogger.posts.each do |post| %>
Title: <%= post.title %><br>
Likes: <%= post.likes %> <br>
<%end%>
<% if @blogger.posts.count >= 1 %>
Most Liked: <%= link_to @blogger.most_liked.title, post_path(@blogger.most_liked) %>
<% end%>



</p>
